<template>
  <div id="test">
    <hr />
    <h2>Test 1: Font List</h2>
    <p id="p1">Light 300</p>
    <p id="p2">Regular 400</p>
    <p id="p3">Medium 500</p>
    <p id="p4">Bold 700</p>
    <hr />
    <h2>Test 2: Icon List v1.0</h2>
    <div id="icon">

      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-aixin"></span>
            <div class="name">
              爱心
            </div>
            <div class="code-name">.icon-font-aixin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-bianji"></span>
            <div class="name">
              编辑
            </div>
            <div class="code-name">.icon-font-bianji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-Dyanjing"></span>
            <div class="name">
              3D眼镜
            </div>
            <div class="code-name">.icon-font-Dyanjing
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-caidan"></span>
            <div class="name">
              彩蛋
            </div>
            <div class="code-name">.icon-font-caidan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-anquan"></span>
            <div class="name">
              安全
            </div>
            <div class="code-name">.icon-font-anquan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-bangzhu"></span>
            <div class="name">
              帮助
            </div>
            <div class="code-name">.icon-font-bangzhu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-buganxingqu"></span>
            <div class="name">
              不感兴趣
            </div>
            <div class="code-name">.icon-font-buganxingqu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-bofangjilu"></span>
            <div class="name">
              播放记录
            </div>
            <div class="code-name">.icon-font-bofangjilu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-chuangzuo"></span>
            <div class="name">
              创作
            </div>
            <div class="code-name">.icon-font-chuangzuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-chenggong"></span>
            <div class="name">
              成功
            </div>
            <div class="code-name">.icon-font-chenggong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-ceshi"></span>
            <div class="name">
              测试
            </div>
            <div class="code-name">.icon-font-ceshi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianhua"></span>
            <div class="name">
              电话
            </div>
            <div class="code-name">.icon-font-dianhua
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianzan"></span>
            <div class="name">
              点赞
            </div>
            <div class="code-name">.icon-font-dianzan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dingwei"></span>
            <div class="name">
              定位
            </div>
            <div class="code-name">.icon-font-dingwei
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-diantong_guan"></span>
            <div class="name">
              电筒_关
            </div>
            <div class="code-name">.icon-font-diantong_guan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianying"></span>
            <div class="name">
              电影
            </div>
            <div class="code-name">.icon-font-dianying
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-ditu"></span>
            <div class="name">
              地图
            </div>
            <div class="code-name">.icon-font-ditu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-diantong_kai"></span>
            <div class="name">
              电筒_开
            </div>
            <div class="code-name">.icon-font-diantong_kai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianyingpiao"></span>
            <div class="name">
              电影票
            </div>
            <div class="code-name">.icon-font-dianyingpiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dingdan"></span>
            <div class="name">
              订单
            </div>
            <div class="code-name">.icon-font-dingdan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-gengduo"></span>
            <div class="name">
              更多
            </div>
            <div class="code-name">.icon-font-gengduo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-fanbei"></span>
            <div class="name">
              翻倍
            </div>
            <div class="code-name">.icon-font-fanbei
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-faxian"></span>
            <div class="name">
              发现
            </div>
            <div class="code-name">.icon-font-faxian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-ertongpiao"></span>
            <div class="name">
              儿童票
            </div>
            <div class="code-name">.icon-font-ertongpiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-gongyi"></span>
            <div class="name">
              公益
            </div>
            <div class="code-name">.icon-font-gongyi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-hongbao"></span>
            <div class="name">
              红包
            </div>
            <div class="code-name">.icon-font-hongbao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-fuzhi"></span>
            <div class="name">
              复制
            </div>
            <div class="code-name">.icon-font-fuzhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-fenxiang"></span>
            <div class="name">
              分享
            </div>
            <div class="code-name">.icon-font-fenxiang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-huatifuhao"></span>
            <div class="name">
              话题符号
            </div>
            <div class="code-name">.icon-font-huatifuhao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-huiyuan"></span>
            <div class="name">
              会员
            </div>
            <div class="code-name">.icon-font-huiyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-aliyu"></span>
            <div class="name">
              阿里鱼
            </div>
            <div class="code-name">.icon-font-aliyu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-jiju"></span>
            <div class="name">
              机具
            </div>
            <div class="code-name">.icon-font-jiju
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-jianshao"></span>
            <div class="name">
              减少
            </div>
            <div class="code-name">.icon-font-jianshao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-kabao"></span>
            <div class="name">
              卡包
            </div>
            <div class="code-name">.icon-font-kabao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-huati"></span>
            <div class="name">
              话题
            </div>
            <div class="code-name">.icon-font-huati
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-guanzhu"></span>
            <div class="name">
              关注
            </div>
            <div class="code-name">.icon-font-guanzhu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-maiyizengyi"></span>
            <div class="name">
              买一赠一
            </div>
            <div class="code-name">.icon-font-maiyizengyi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-mima"></span>
            <div class="name">
              密码
            </div>
            <div class="code-name">.icon-font-mima
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-nan"></span>
            <div class="name">
              男
            </div>
            <div class="code-name">.icon-font-nan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-nv"></span>
            <div class="name">
              女
            </div>
            <div class="code-name">.icon-font-nv
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-lihe"></span>
            <div class="name">
              礼盒
            </div>
            <div class="code-name">.icon-font-lihe
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-paihangbang"></span>
            <div class="name">
              排行榜
            </div>
            <div class="code-name">.icon-font-paihangbang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-lipinka"></span>
            <div class="name">
              礼品卡
            </div>
            <div class="code-name">.icon-font-lipinka
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-pengyouquan"></span>
            <div class="name">
              朋友圈
            </div>
            <div class="code-name">.icon-font-pengyouquan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-mingxinghuodong"></span>
            <div class="name">
              明星活动
            </div>
            <div class="code-name">.icon-font-mingxinghuodong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-qupiao"></span>
            <div class="name">
              取票
            </div>
            <div class="code-name">.icon-font-qupiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-saoyisao"></span>
            <div class="name">
              扫一扫
            </div>
            <div class="code-name">.icon-font-saoyisao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-rili"></span>
            <div class="name">
              日历
            </div>
            <div class="code-name">.icon-font-rili
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-pinglun"></span>
            <div class="name">
              评论
            </div>
            <div class="code-name">.icon-font-pinglun
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-qinghuiyuan"></span>
            <div class="name">
              轻会员
            </div>
            <div class="code-name">.icon-font-qinghuiyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-riqian"></span>
            <div class="name">
              日签
            </div>
            <div class="code-name">.icon-font-riqian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shandian"></span>
            <div class="name">
              闪电
            </div>
            <div class="code-name">.icon-font-shandian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shaixuan"></span>
            <div class="name">
              筛选
            </div>
            <div class="code-name">.icon-font-shaixuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shangquan"></span>
            <div class="name">
              商圈
            </div>
            <div class="code-name">.icon-font-shangquan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shanchu"></span>
            <div class="name">
              删除
            </div>
            <div class="code-name">.icon-font-shanchu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shezhi"></span>
            <div class="name">
              设置
            </div>
            <div class="code-name">.icon-font-shezhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shangchuan"></span>
            <div class="name">
              上传
            </div>
            <div class="code-name">.icon-font-shangchuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shequ"></span>
            <div class="name">
              社区
            </div>
            <div class="code-name">.icon-font-shequ
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shengyinguanbi"></span>
            <div class="name">
              声音关闭
            </div>
            <div class="code-name">.icon-font-shengyinguanbi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shibai"></span>
            <div class="name">
              失败
            </div>
            <div class="code-name">.icon-font-shibai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shijian"></span>
            <div class="name">
              时间
            </div>
            <div class="code-name">.icon-font-shijian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shengyin"></span>
            <div class="name">
              声音
            </div>
            <div class="code-name">.icon-font-shengyin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shoucang"></span>
            <div class="name">
              收藏
            </div>
            <div class="code-name">.icon-font-shoucang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shouji"></span>
            <div class="name">
              手机
            </div>
            <div class="code-name">.icon-font-shouji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shouye"></span>
            <div class="name">
              首页
            </div>
            <div class="code-name">.icon-font-shouye
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shuju"></span>
            <div class="name">
              数据
            </div>
            <div class="code-name">.icon-font-shuju
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shuaxin"></span>
            <div class="name">
              刷新
            </div>
            <div class="code-name">.icon-font-shuaxin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-sousuo"></span>
            <div class="name">
              搜索
            </div>
            <div class="code-name">.icon-font-sousuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tanhao"></span>
            <div class="name">
              叹号
            </div>
            <div class="code-name">.icon-font-tanhao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-taolunqu"></span>
            <div class="name">
              讨论区
            </div>
            <div class="code-name">.icon-font-taolunqu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tianjiayouhuiquan"></span>
            <div class="name">
              添加优惠券
            </div>
            <div class="code-name">.icon-font-tianjiayouhuiquan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tishi"></span>
            <div class="name">
              提示
            </div>
            <div class="code-name">.icon-font-tishi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tupian"></span>
            <div class="name">
              图片
            </div>
            <div class="code-name">.icon-font-tupian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tuipiao"></span>
            <div class="name">
              退票
            </div>
            <div class="code-name">.icon-font-tuipiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-weixuanzhong"></span>
            <div class="name">
              未选中
            </div>
            <div class="code-name">.icon-font-weixuanzhong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-weibo"></span>
            <div class="name">
              微博
            </div>
            <div class="code-name">.icon-font-weibo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-wenjuan"></span>
            <div class="name">
              问卷
            </div>
            <div class="code-name">.icon-font-wenjuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-wode"></span>
            <div class="name">
              我的
            </div>
            <div class="code-name">.icon-font-wode
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-weixin"></span>
            <div class="name">
              微信
            </div>
            <div class="code-name">.icon-font-weixin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-wodeguanzhu"></span>
            <div class="name">
              我的关注
            </div>
            <div class="code-name">.icon-font-wodeguanzhu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiami"></span>
            <div class="name">
              虾米
            </div>
            <div class="code-name">.icon-font-xiami
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiangkan"></span>
            <div class="name">
              想看
            </div>
            <div class="code-name">.icon-font-xiangkan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiangji"></span>
            <div class="name">
              相机
            </div>
            <div class="code-name">.icon-font-xiangji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaoxi"></span>
            <div class="name">
              消息
            </div>
            <div class="code-name">.icon-font-xiaoxi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiazai"></span>
            <div class="name">
              下载
            </div>
            <div class="code-name">.icon-font-xiazai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaojuchang"></span>
            <div class="name">
              小聚场
            </div>
            <div class="code-name">.icon-font-xiaojuchang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaoshi"></span>
            <div class="name">
              小食
            </div>
            <div class="code-name">.icon-font-xiaoshi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaoxizhongxin"></span>
            <div class="name">
              消息中心
            </div>
            <div class="code-name">.icon-font-xiaoxizhongxin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yinhangka"></span>
            <div class="name">
              银行卡
            </div>
            <div class="code-name">.icon-font-yinhangka
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yanjing"></span>
            <div class="name">
              眼睛
            </div>
            <div class="code-name">.icon-font-yanjing
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yingchengka"></span>
            <div class="name">
              影城卡
            </div>
            <div class="code-name">.icon-font-yingchengka
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yixiangkan"></span>
            <div class="name">
              已想看
            </div>
            <div class="code-name">.icon-font-yixiangkan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yingpingmoban"></span>
            <div class="name">
              影评模板
            </div>
            <div class="code-name">.icon-font-yingpingmoban
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yanchu"></span>
            <div class="name">
              演出
            </div>
            <div class="code-name">.icon-font-yanchu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaomi"></span>
            <div class="name">
              小蜜
            </div>
            <div class="code-name">.icon-font-xiaomi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yingyuan"></span>
            <div class="name">
              影院
            </div>
            <div class="code-name">.icon-font-yingyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-zengjia"></span>
            <div class="name">
              增加
            </div>
            <div class="code-name">.icon-font-zengjia
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yuyin"></span>
            <div class="name">
              语音
            </div>
            <div class="code-name">.icon-font-yuyin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-youhuiquan"></span>
            <div class="name">
              优惠券
            </div>
            <div class="code-name">.icon-font-youhuiquan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-WIFI"></span>
            <div class="name">
              WIFI
            </div>
            <div class="code-name">.icon-font-WIFI
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-zhibo"></span>
            <div class="name">
              直播
            </div>
            <div class="code-name">.icon-font-zhibo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-youkuhuiyuan"></span>
            <div class="name">
              优酷会员
            </div>
            <div class="code-name">.icon-font-youkuhuiyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yulebao"></span>
            <div class="name">
              娱乐宝
            </div>
            <div class="code-name">.icon-font-yulebao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-zhiwen"></span>
            <div class="name">
              指纹
            </div>
            <div class="code-name">.icon-font-zhiwen
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-aixin1"></span>
            <div class="name">
              爱心
            </div>
            <div class="code-name">.icon-font-aixin1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-chenggong1"></span>
            <div class="name">
              成功
            </div>
            <div class="code-name">.icon-font-chenggong1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianzan1"></span>
            <div class="name">
              点赞
            </div>
            <div class="code-name">.icon-font-dianzan1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianhua1"></span>
            <div class="name">
              电话
            </div>
            <div class="code-name">.icon-font-dianhua1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-bangzhu1"></span>
            <div class="name">
              帮助
            </div>
            <div class="code-name">.icon-font-bangzhu1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianyingpiao1"></span>
            <div class="name">
              电影票
            </div>
            <div class="code-name">.icon-font-dianyingpiao1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-faxian1"></span>
            <div class="name">
              发现
            </div>
            <div class="code-name">.icon-font-faxian1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dingwei1"></span>
            <div class="name">
              定位
            </div>
            <div class="code-name">.icon-font-dingwei1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-gonggao"></span>
            <div class="name">
              公告
            </div>
            <div class="code-name">.icon-font-gonggao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-huati1"></span>
            <div class="name">
              话题
            </div>
            <div class="code-name">.icon-font-huati1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-jianshao1"></span>
            <div class="name">
              减少
            </div>
            <div class="code-name">.icon-font-jianshao1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-huiyuan1"></span>
            <div class="name">
              会员
            </div>
            <div class="code-name">.icon-font-huiyuan1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-pinglun1"></span>
            <div class="name">
              评论
            </div>
            <div class="code-name">.icon-font-pinglun1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shequ1"></span>
            <div class="name">
              社区
            </div>
            <div class="code-name">.icon-font-shequ1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shibai1"></span>
            <div class="name">
              失败
            </div>
            <div class="code-name">.icon-font-shibai1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shijian1"></span>
            <div class="name">
              时间
            </div>
            <div class="code-name">.icon-font-shijian1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shandian1"></span>
            <div class="name">
              闪电
            </div>
            <div class="code-name">.icon-font-shandian1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shouye1"></span>
            <div class="name">
              首页
            </div>
            <div class="code-name">.icon-font-shouye1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shouji1"></span>
            <div class="name">
              手机
            </div>
            <div class="code-name">.icon-font-shouji1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-tanhao1"></span>
            <div class="name">
              叹号
            </div>
            <div class="code-name">.icon-font-tanhao1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shoucang1"></span>
            <div class="name">
              收藏
            </div>
            <div class="code-name">.icon-font-shoucang1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-shuju1"></span>
            <div class="name">
              数据
            </div>
            <div class="code-name">.icon-font-shuju1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-wenda"></span>
            <div class="name">
              问答
            </div>
            <div class="code-name">.icon-font-wenda
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yanjing1"></span>
            <div class="name">
              眼睛
            </div>
            <div class="code-name">.icon-font-yanjing1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yingchengka1"></span>
            <div class="name">
              影城卡
            </div>
            <div class="code-name">.icon-font-yingchengka1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiangji1"></span>
            <div class="name">
              相机
            </div>
            <div class="code-name">.icon-font-xiangji1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yingyuan1"></span>
            <div class="name">
              影院
            </div>
            <div class="code-name">.icon-font-yingyuan1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yinhangyouhui"></span>
            <div class="name">
              银行优惠
            </div>
            <div class="code-name">.icon-font-yinhangyouhui
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-xiaoshi1"></span>
            <div class="name">
              小食
            </div>
            <div class="code-name">.icon-font-xiaoshi1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-yanchu1"></span>
            <div class="name">
              演出
            </div>
            <div class="code-name">.icon-font-yanchu1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-zengjia1"></span>
            <div class="name">
              增加
            </div>
            <div class="code-name">.icon-font-zengjia1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-dianying1"></span>
            <div class="name">
              电影
            </div>
            <div class="code-name">.icon-font-dianying1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-youhuiquan1"></span>
            <div class="name">
              优惠券
            </div>
            <div class="code-name">.icon-font-youhuiquan1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-remen"></span>
            <div class="name">
              热门
            </div>
            <div class="code-name">.icon-font-remen
            </div>
          </li>
          
          <li class="dib">
            <span class="icon icon-font-v1 icon-font-chuangzuo1"></span>
            <div class="name">
              创作
            </div>
            <div class="code-name">.icon-font-chuangzuo1
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <hr />
  </div>
</template>

<script>
export default {
  name: "Test",
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
#test {
  font-size: 14px;
  line-height: 3em;
  text-align: center;
  background: #fff;
}
#p1 {
  font-weight: 300;
}
#p2 {
  font-weight: 400;
}
#p3 {
  font-weight: 500;
}
#p4 {
  font-weight: 700;
}


.icon_lists {
  width: 100% !important;
  overflow: hidden;
  *zoom: 1;
}

.icon_lists li {
    display: inline-block;
    width: 148px;
    height: 128px;
    text-align: center;
    list-style: none !important;
    cursor: default;
}

.icon_lists li .code-name {
    line-height: 1.2;
}

.icon_lists .icon {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
  margin: 10px auto;
  color: #333;
  -webkit-transition: font-size 0.25s linear, width 0.25s linear;
  -moz-transition: font-size 0.25s linear, width 0.25s linear;
  transition: font-size 0.25s linear, width 0.25s linear;
}

.icon_lists .icon:hover {
  font-size: 38px;
}

.icon_lists .svg-icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
      normalize.css 中也包含这行 */
  overflow: hidden;
}

.icon_lists li .name,
.icon_lists li .code-name {
    color: #666;
    font-size: 10px;
    font-weight: 700;
}
</style>
