<template>
  <div class="bar">
    <div class="siqi-navbar" style="height:0.6rem;">
      <img id="return-btn" src="@/src/assets/return_btn.png" alt="<"  @click="routeTo('Homepage')">
      <div style="">{{projectname}}</div>
    </div>
    <div class="navbarLine"
      style="margin:0;padding:0; width:100%;height:0.017rem;background-color:#dfdfdf;"
    ></div>
  </div>
</template>


<script>
export default {
  components:{
  },
  data() {
    return {
      projectname:'',
    };
  },
   methods:{
    routeTo: function(routerName){
        this.$router.push({
            name: routerName,
            params: {

            }
        })
    }
  },
  mounted: async function(){
    let info=await this.api.GetProjectInformation(this.$route.params.id);
    this.projectname=info.data.data.projectName;
    // console.log("projectname",info.data.data.projectName);

  },

};
</script>

<style scoped>
.bar {
  background-color: #ffffff;
  font-size: 16px;
  color: #333333;
  /* font-weight:bold; */
  top:0;
  position: fixed;

  /* letterspacing: 0.05; */
}
.siqi-navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  font-weight:bold;
}

#return-btn{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(.29rem, .25rem);
  width:.10rem;
  height: .167rem;
  /* background: url("../assets/task_btn.png") no-repeat; */
}
</style>