<template>
    <div id=Camera>
        <img id="return-btn" src="@/src/assets/return_btn.png" alt="<"  @click="routeTo('Homepage')">
        <div class="camera">
            <qrcode-stream @decode="onDecode" @init="onInit" />
        </div>
        <van-dialog
        v-model="isShowDialog"
        show-cancel-button
        :before-close="this.addNewProject"
        >
        <div class="join-project-form">
            <div class="title">
                是否加入
            </div>
        </div>
    </van-dialog>
    </div>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'

export default {

    components: { QrcodeStream },

    mounted: async function(){
        //从浏览器内存读取用户id，查询用户信息并存入vuex
        this.userid = localStorage.getItem("userId");
        console.log(this.userid);
        if(this.user.id==null){
            this.$router.push('/login');
            return;
        };
    },

    data () {
        return {
            result: '',
            error: '',
            isShowDialog:false,
            userid:'',
        }
    },

    methods: {
    onDecode (result) {
        this.result = result;
        console.log(this.result);
        this.isShowDialog=true;
    },
     routeTo: function(routerName){
        this.$router.push({
            name: routerName,
            params: {

            }
        })
    },
    addNewProject: async function(action, done){
            if(action=="confirm"){
                await this.api.joinProject(this.userid,this.result,{
                    inCharge: false
                });
                this.$router.replace("/");
            }else{
                done();
            }
        },

    async onInit (promise) {
        try {
            await promise
        } catch (error) {
        if (error.name === 'NotAllowedError') {
            this.error = "ERROR: you need to grant camera access permisson"
        } else if (error.name === 'NotFoundError') {
            this.error = "ERROR: no camera on this device"
        } else if (error.name === 'NotSupportedError') {
            this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === 'NotReadableError') {
            this.error = "ERROR: is the camera already in use?"
        } else if (error.name === 'OverconstrainedError') {
            this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === 'StreamApiNotSupportedError') {
            this.error = "ERROR: Stream API is not supported in this browser"
        }
        }
    }
    }
}
</script>

<style scoped>
#Camera{
    position: fixed;
    
    background: #0a0a0a;
    width: 100%;
    height: 100%;
}

    .camera{
        position: absolute;
        width:3rem;
        height: 3rem;
        top: 1.7rem;
        left: 0.3rem;
    }
    .add-new-project-form{
    font-size: 13px;
    font-family: "PingFang SC";
    padding: 20px 40px;
    }

    .title{
        font-size: 15px;
        text-align: center;
        margin-bottom: 17px;
        color: #444444;
        letter-spacing: 0.1em;
    }


    #return-btn{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(.29rem, .25rem);
  width:.10rem;
  height: .167rem;
  /* background: url("../assets/task_btn.png") no-repeat; */
}

</style>