<template>
  <div class="FileList">
    <div>
      <Bar></Bar>
      <SelectBar></SelectBar>
    </div>
    <div>
        <div class="Shadow"></div>
        <div class="upload-demo" @click="uploadFile()">
          <img class="add-new-file" src="../assets/add_icon.png"/>添加新文件
        </div>
      <van-pull-refresh
              style="overflow:auto; background: #fff;"
              @refresh="onRefresh"
              v-model="isLoading"
              loosing-text="释放刷新项目列表..."
      >
        <div class="Files">
          <file-component :data-file="fileList" @fatherMethod-getFileList="getFileList()"></file-component>
        </div>
      </van-pull-refresh>
    </div>
  </div>
</template>

<script>
import FileComponent from "@/src/components/FileComponent.vue";
import Bar from "@/src/components/Bar.vue";
import SelectBar from "@/src/components/SelectBar.vue";
import { Notification } from "element-ui";
export default {
  data() {
    return {
      // 文件列表数据
      fileList:[],
      //文件历史数据
      fileHistory:[],
      isLoading: false,
    };
  },
  methods: {
    getFileList: async function(){
      let return_file_list = await this.api.GetFileList(this.$route.params.id);
      let file_list = return_file_list.data.data;
      console.log("file_list:");
      console.log(file_list);

      let my_file_list = [];
      let file_type = [];
      for(var i = 0; i < file_list.length; i++){
        var pos = file_list[i].name.indexOf(".");
        for(var j= pos+1;j<file_list[i].name.length;j++){
          file_type.push(file_list[i].name[j]);
          file_type.join('');
        }
        my_file_list.push({
          name:file_list[i].name,
          type:file_type.join(''),
          version:file_list[i].id,
          uploadTime:getLocalTime(file_list[i].createTime),
          url:file_list[i].url
        });
        function getLocalTime(nS) {
          return new Date(nS).toJSON().substr(0, 19).replace('T',' ')
        }
        file_type.splice(0,file_type.length);
      }
      this.fileList = my_file_list;
    },
    onRefresh(){
      setTimeout(() => {
        this.getFileList();
        this.isLoading=false;
      }, 500);
    },
    uploadFile:function () {
      // 此时可以自行将文件上传至服务器
      var input = document.createElement("input");
      input.type = "file";
      input.click();

      var project_id=this.$route.params.id;
       //调用tencent cloud
      var vueObj = this; //export this to vueObj
      input.onchange = function() {
        var file = input.files[0];
        if (!file) {
          return;
        }
        //上传文件，文件名会重新自动生成独一无二的编码并作为返回值返回，因此上传后需要获取腾讯云的文件名
        let fileName = vueObj.api.uploadFile(file, "/projects/" + project_id);
        //获取文件url，根据腾讯云上的文件名+路径获取对象的url
        var fileUrl = vueObj.api.getFileUrl(fileName, "/projects/" + project_id);
        //更新UI和后端
        vueObj.updateFileList(fileUrl,file.name);
      }
    },
    updateFileList(fileUrl,fileName){
      console.log(fileName);
      if (!fileUrl) {
        Notification({
          title: "上传文件失败",
          position: "top-right",
          type: "error"
        });
        return;
      }
      //更新后端
      this.api.PostFile(this.$route.params.id,{ file_name:fileName ,file_url: fileUrl });
      setTimeout(() => {
        this.getFileList();
      }, 1000);
    },
  },
  mounted: async function() {
    let return_file_list = await this.api.GetFileList(this.$route.params.id);
    let file_list = return_file_list.data.data;
    console.log("file_list:");
    console.log(file_list);

    let my_file_list = [];
    let file_type = [];
    for(var i = 0; i < file_list.length; i++){
      var pos = file_list[i].name.indexOf(".");
      for(var j= pos+1;j<file_list[i].name.length;j++){
        file_type.push(file_list[i].name[j]);
        file_type.join('');
      }
      my_file_list.push({
        name:file_list[i].name,
        type:file_type.join(''),
        version:file_list[i].id,
        uploadTime:getLocalTime(file_list[i].createTime),
        url:file_list[i].url
      });
      function getLocalTime(nS) {
        return new Date(nS).toJSON().substr(0, 19).replace('T',' ')
      }
      file_type.splice(0,file_type.length);
    }
    this.fileList = my_file_list;
  },
  components: {
    Bar,
    SelectBar,
    "file-component": FileComponent,
  }
};
</script>

<style scoped>
  * {
    font-size: 20px;
  }
  .FileList {
    height:100vh;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
  }
  .Files {
    margin-top:1.617rem;
    /*min-height: 100vh;*/ /*75vh*/
    height:75vh;
    overflow-y: auto;
    background: #f7f7f7;
  }
  .Shadow {
    position: fixed;
    top:1.64rem;
    width: 100%;
    height: 0.017rem;
    background: #DFDFDF;
    z-index: 9999;
  }
  .add-new-file {
    width: 0.12rem;
    height: 0.12rem;
    margin-right: 0.05rem;
  }
  .upload-demo{
    position:fixed;
    top:1.22rem;
    height:0.42rem;
    width: 100vw;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3da8f5;
    font-size: 11.5px;
    letter-spacing: 1px;
    font-weight:lighter;
    line-height:0.42rem;
    outline:none;
    border:none;
    z-index: 9999;
  }
</style>
