<template>
    <div>
        <div class="FileHistory" :class="fontSize" :key="index" v-for="(item, index) in dataFile">
            <div class="history-type">
                {{item.type}}
            </div>
            <div class="history-info">
                <div class="history-title">{{item.name}}</div>
                <div class="history-content color font-size-small">{{item.version}}</div>
                <div class="history-content color font-size-small" style="margin:0;">{{item.uploadTime}}</div>
            </div>
            <div class="down-history">
                <img class="download-icon" src="../assets/download_icon.png" @click="downFile(item.url,item.name)"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'FileHistory',
        props: {
            dataFile: {
                type: Array
            },
            hiddenDetail: {
                type: Boolean,
                default: false
            },
            fontSize: {
                type: String,
                default: 'normal'
            }
        },
        data() {
            return {
                show:false,
            };
        },
        methods: {
            downFile(url,fileName){
                var FileSaver = require('file-saver');
                FileSaver.saveAs(url, fileName);
            }
        }
    }
</script>

<style>
    .FileHistory{
        margin-top: 0.05rem;
        display: flex;
        flex-direction: row;
        padding: 0.15rem 8% 0.135rem 5%;
        background: #fafafa;
    }
    .history-title{
        margin-top:0.02rem;
        font-size: 14.5px;
        font-weight:bold;
        letter-spacing: 1px;
        color:#5C5C5C;
        line-height:1.2em;
    }
    .history-content{
        margin-top:0.1rem;
        margin-bottom:0.1rem;
        line-height:0.95em;
    }
    .font-size-small{
        font-size:10px;
        letter-spacing: 1px;
        color:#E0E0E0;
        font-weight:lighter;
    }
    .history-type{
        display: flex;
        height: 0.58rem;
        width:0.58rem;
        min-width: 0.58rem;
        justify-content: center;
        align-items: center;
        border: 0.02rem #E3E3E3 solid;
        border-radius: 0.04rem;
        letter-spacing: 1px;
        text-indent: 1px;
        font-size:15px;
        font-weight:bolder;
        color:#363636;
    }
    .history-info{
        flex: 1;
        padding-left: 0.13rem;
        padding-right: 0.13rem;
    }
    .down-history{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon{
        width: 0.15rem;
        height: 0.10rem;
        cursor: pointer;
        z-index:1;
    }
    .download-icon{
        width: 0.16rem;
        height: 0.15rem;
        cursor: pointer;

    }
    .eject-tab{
        position: relative;
        display: inline-block;
        z-index: 9;
    }
    .eject-tab-content{
        display:none;
        position: absolute;
        text-align: center;
        font-size: 16px;
        left: -0.83rem;
        top: 0.15rem;
        line-height: 25px;
        color:#8c8c8c;
        background-color: #ffffff;
        min-width: 0.84rem;
        box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.2);
        padding: 0.1rem 0.1rem;
        border-radius: 0.04rem;
    }
    .eject-tab:hover .eject-tab-content {
        display: block;
    }
</style>
