<template>
  <div>
    <div class="FileComponent" :class="fontSize" :key="index" v-for="(item, index) in dataFile">
      <div class="file-container">
        <div class="file-type">{{item.type}}</div>
        <div class="file-info">
          <div class="file-title">{{item.name}}</div>
          <div class="file-content font-size-small">{{item.version}}</div>
          <div class="file-content font-size-small" style="margin:0;">{{item.uploadTime}}</div>
        </div>
        <div class="up-and-down">
          <!--<div class="image-container">
						<div class="eject-tab">
							<img v-show="!hiddenDetail" class="menu-icon" alt="···" src="../assets/more_icon.png"/>
							<div class="eject-tab-content">
								<p >@click="isActive = !isActive;showHistory(item.name)"查看历史</p>
								<p @click="deleteFile(item.name)">删除文件</p>
							</div>
						</div>
          </div>-->
          <div class="image-container">
            <el-dropdown ref="menu">
              <span class="el-dropdown-link" trigger="click">
                <img class="menu-icon" alt="···" src="../assets/more_icon.png" />
              </span>
              <el-dropdown-menu slot="dropdown" style="transform:translateX(5px);">
                <div class="dropdown-item" @click="showHistory(item.name,index)">查看历史</div>
                <div class="dropdown-item" @click="deleteFile(item.name)">删除文件</div>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <div class="image-container">
            <img
              class="download-icon"
              src="../assets/download_icon.png"
              @click="downFile(item.name,item.url)"
            />
          </div>
        </div>
      </div>
      <div class="history-container">
        <CollapseComponent>
          <div class="history-container" v-show="index === thisIndex">
            <!--<h2>欢迎大家品尝Pizza!</h2>-->
            <file-history :data-file="historyList"></file-history>
            <div class="close-collapse" @click="thisIndex=null">
              <img
                class="history-up"
                src="../assets/up-btn.png"
                style="width:0.15rem;height:0.1rem;"
                @click="thisIndex=null"
              />
            </div>
          </div>
        </CollapseComponent>
      </div>
    </div>
  </div>
</template>

<script>
import FileHistory from "@/src/components/FileHistory.vue";
import CollapseComponent from "@/src/js/collapse.js";
import { Toast } from "vant";
export default {
  name: "FileComponent",
  props: {
    dataFile: {
      type: Array
    },
    fontSize: {
      type: String,
      default: "normal"
    }
  },
  data() {
    return {
      show: false,
      activeNames: ["1"],
      historyList: [],
      collapseState: [false],
      isActive: false,
      thisIndex: null
    };
  },
  methods: {
    downFile(fileName, url) {
      var FileSaver = require('file-saver');
      FileSaver.saveAs(url, fileName);
      

      //cordova-file-plugins
      // this.$cordovaPlugins.downFileHH(url,name);
    },
    showHistory: async function(fileName, index) {
      let return_history = await this.api.GetFile(
        this.$route.params.id,
        fileName
      );
      let history_list = return_history.data.data;
      console.log("history_list:");
      console.log(history_list);
      if (history_list.length === 1) {
        Toast("当前文件没有历史文件");
      } else {
        this.thisIndex = index;
        let my_history_list = [];
        let file_type = [];
        for (var i = 0; i < history_list.length; i++) {
          var pos = history_list[i].name.indexOf(".");
          for (var j = pos + 1; j < history_list[i].name.length; j++) {
            file_type.push(history_list[i].name[j]);
          }
          if (i !== 0) {
            my_history_list.push({
              name: history_list[i].name,
              type: file_type.join(""),
              version: history_list[i].id,
              uploadTime: getLocalTime(history_list[i].createTime),
              url: encodeURI(history_list[i].url)
            });
            function getLocalTime(nS) {
              return new Date(nS)
                .toJSON()
                .substr(0, 19)
                .replace("T", " ");
            }
          }
          file_type.splice(0, file_type.length);
        }
        this.historyList = my_history_list;
      }
    },
    deleteFile(fileName) {
      console.log(fileName);
      this.api.DeleteFile(this.$route.params.id, fileName);
      console.log("deleteFile");
      setTimeout(() => {
        this.$emit("fatherMethod-getFileList");
      }, 500);
    }
  },
  components: {
    CollapseComponent,
    "file-history": FileHistory
  }
};
</script>

<style>
.file-container {
  margin-top: 0.05rem;
  display: flex;
  flex-direction: row;
  padding: 0.15rem 8% 0.135rem 5%;
  background: #ffffff;
}
.file-title {
  margin-top: 0.03rem;
  font-size: 14.5px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #5c5c5c;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-content {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem;
  line-height: 0.95em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.font-size-small {
  font-size: 10px;
  letter-spacing: 1px;
  color: #9a9a9a;
  font-weight: lighter;
}
.file-type {
  display: flex;
  height: 0.58rem;
  width: 0.58rem;
  min-width: 0.58rem;
  justify-content: center;
  align-items: center;
  border: 0.02rem #eeeeee solid;
  border-radius: 0.04rem;
  letter-spacing: 1px;
  text-indent: 1px;
  font-size: 15px;
  font-weight: bolder;
  color: #363636;
}
.file-info {
  flex: 1;
  padding-left: 0.13rem;
  padding-right: 0.13rem;
  overflow: hidden;
}
.up-and-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.image-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  width: 0.15rem;
  height: 0.1rem;
  cursor: pointer;
  z-index: 1;
}
.el-popper[x-placement^="top"] {
  margin-bottom: 3px !important;
}
.el-popper[x-placement^="bottom"] {
  margin-top: 3px !important;
}
.download-icon {
  width: 0.16rem;
  height: 0.15rem;
  cursor: pointer;
}
.dropdown-item {
  font-size: 14px;
  /* font-weight: bold; */
  padding: 5px 13px;
  /* text-align: center; */
  color: #333444;
}
.dropdown-item:hover {
  background: #ececec;
}
.close-collapse {
  background: #ffffff;
  height: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eject-tab {
  position: relative;
  display: inline-block;
  z-index: 9;
}
.eject-tab-content {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 16px;
  left: -0.83rem;
  top: 0.15rem;
  line-height: 25px;
  color: #8c8c8c;
  background-color: #ffffff;
  min-width: 0.84rem;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.2);
  padding: 0.1rem 0.1rem;
  border-radius: 0.04rem;
}
.eject-tab:hover .eject-tab-content {
  display: block;
}
</style>
