<template>
<div class="homepage">

    <van-pull-refresh 
        style="overflow:auto; background: #fff;"
        @refresh="onRefresh"
        v-model="isLoading"
        loosing-text="释放刷新项目列表..."
        >
        <div class="recent_used_project">
            <div class="title" style="margin-bottom: 0.11rem;">
                Recent used
            </div>
            <div class="recent_used_project_container">
                <RecentUsedProject v-for="(item,index) in projects_recent" v-if="index<3" :key="index" :project="item" style="margin-right: 0.13rem;"></RecentUsedProject>
            </div>
        </div>
        <div class="all_projects" >
            <div class="search" style="margin-bottom: 0.16rem;">
                <div class="title">
                    All projects
                </div>
                <div style="flex:1;"></div>
                <div class="search_bar" >     
                <img class="search_btn" src="@/src/assets/search_icon.png" @click="search_btn">
                <input type="text" class="searchBox" v-model="search"/>
                </div>
            </div>
            <div class="all_project_container" >
                <allProject  v-for="(item,index) in projects_display" :key="index" :project="item" style="margin-right: 0.25rem;" @fatherMethod="fatherMethod"></allProject>
            </div>
        </div>
    </van-pull-refresh>
    <PersonInfo ref="personInfoRect" :user="user"></PersonInfo>
    <div class="tabbar">
        <div class="header" @click="showPersonInfo(true)">   
        </div>
        <div style="flex:1;"></div>
        <div class="dropdown" >
            <el-dropdown ref="menu">
                <span class="el-dropdown-link" trigger="hover">
                    <div class="menu-btn"></div>
                </span>
                <el-dropdown-menu slot="dropdown" style="transform:translateX(-10px);">
                    <div class="dropdown-item" style="margin-bottom:2px;" @click="addProject()">
                        <font-awesome-icon :icon="['fas','plus-circle']"/>
                        新建项目
                    </div>
                    <div class="dropdown-item" @click="openCamera()">
                        <font-awesome-icon :icon="['fas','camera']"/>
                        扫一扫
                    </div>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>
    <van-dialog
        v-model="isShowDialog"
        show-cancel-button
        :before-close="this.addNewProject"
        >
        <div class="add-new-project-form">
            <div id="title">
                创建新项目
            </div>
            <el-input 
                v-model="project.projectName"
                type="text" 
                placeholder="项目名称"
                maxlength="15"
                show-word-limit
            />
        </div>
    </van-dialog>
</div>
</template>

<script>
import RecentUsedProject from "@/src/components/page_homepage/RecentUsedProject";
import PersonInfo from "@/src/components/page_personal/PersonInfo";
import AllProject from "@/src/components/page_homepage/AllProject";
import { async } from 'q';
export default {
    name: 'HelloWorld',
    props: {
        
    },
    mounted: async function(){
        //从浏览器内存读取用户id，查询用户信息并存入vuex
        this.user.id = localStorage.getItem("userId");
        if(this.user.id==null){
            this.$router.push('/login');
            return;
        };
        this.getUserInfo();
        this.getUserProject();
    },
    data() {
        return{
            isShowDialog: false,
            isLoading: false,
            project:{
                projectName:"",
            },
            user:{},
            search:"",
            allProjects:[],
            projects:[],
            projects_recent:[],
            projects_display:[],
        }
    },
    watch:{
        user(){
            console.log("[user watch effects]",this.user);
            if(this.user==null)return;
            this.$('.header')[0].style.background="url("+this.user.avatarUrl+")";
            this.$('.header')[0].style.backgroundSize="cover";
        },
    },
    components:{
        RecentUsedProject,
        AllProject,
        PersonInfo,
    },
    methods:{
        getUserInfo: async function(){
            let res = await this.api.userApi.getUser(this.user.id);
            this.user = res.data.data;
            this.$store.commit("updateUser",this.user);
        },
        getUserProject: async function(){
            let res = await this.api.GetUserProject(this.user.id);
            this.projects=res.data.data;
            this.projects_recent=res.data.data;
            this.projects_display=res.data.data;
        },
        search_btn(){
            var search=this.search;
            if(search)
            {
                this.projects_display =  this.projects.filter(function(projects) {
			 	console.log(projects)
				return Object.keys(projects).some(function(key) {
					console.log(key)
			  	return String(projects[key]).toLowerCase().indexOf(search) > -1
			})
            })
            console.log(this.projects_display);
            }
            
        },
        showPersonInfo(isShow){
            this.$refs.personInfoRect.showPersonInfo(true);
        },
        onRefresh(){
            setTimeout(() => {
                this.getUserProject();
                this.isLoading=false;
            }, 500);
        },
        fatherMethod(){
            setTimeout(() => {
                this.getUserProject();
                this.isLoading=false;
            }, 500);
        },
        addProject(){
            this.$refs.menu.hide();
            this.isShowDialog=true;
        },
        addNewProject(action, done){
            if(action=="confirm"){
                this.api.projectApi.addProject({
                    projectName: this.project.projectName,
                    creatorId: this.user.id
                });
                this.project.projectName="";
                //执行更新
                done();
                setTimeout(() => {
                    this.getUserProject();
                }, 1000);
            }else{
                done();
            }
        },
        openCamera(){
            this.$refs.menu.hide();
            this.$router.replace("/camera");
            console.log("open open camera")
        }

    }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.homepage{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #f7f7f7;
    padding-top: 0.6rem;
}
.tabbar{
    position:fixed;
    top:0;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0.60rem;
    padding: 0 5% 0 5%;
    border-bottom: 0.03rem #f7f7f7 solid;
    /* 居中 */
    align-items: center;
    /* 排列 */
    /* justify-content: center; */
}

.tabbar .header{
    border: 0.01rem solid #eee;
    border-radius: 50%;
    height: 0.43rem;
    width: 0.43rem;
    margin-left: 3px;
}
.tabbar .menu-btn{
    font-size:14px;
    height:0.15rem;
    width:0.2rem;
    margin-right: 5px;
    background:url('./../assets/menu_image.png');
    background-size: cover;
}
.recent_used_project{
    background: #ffffff;

    padding: 0.15rem 5% 0.25rem 5%;
}

.title{
    font-size: 12px;
    color: #b8b8b8;
    letter-spacing: 0.001rem;
}

.recent_used_project_container{
    display: flex;
    /* justify-content: space-between; */
}

.all_projects{
    flex: 1;
    background: #ffffff;
    width: 100%;
    border-top: 0.06rem #f7f7f7 solid;
    padding: 0.15rem 7% 0.25rem 5%;
}
.search{
    display:flex;
    align-items: center;
}
.searchBox{
    width: 1.88rem;
    margin-left: 0.08rem;
    height: 0.18rem;
    border: none;
    background: #f7f7f7;
    font-size: 10px;
}
.search_btn{
    background:#f7f7f7;
    width:0.12rem;
    height:0.12rem;
    margin-left:0.08rem;
}
.search_bar{
    display:flex;
    align-items:center;
    background:#f7f7f7;
    width:2.24rem;
    height:0.26rem;
    border-radius: 0.05rem;
}

.all_project_container{
    display: flex;
    flex-direction: column;
    
    /*flex-direction: row-reverse;*/
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}
.dropdown-content {
    display: none;
    position: absolute;
    font-size: 12px;
    left: -0.5rem;
    background-color: #ffffff;
    min-width: 0.9rem;
    box-shadow: 0rem 0.08rem 0.16rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0rem 0.12rem;
    border-radius: 0.04rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.background{
    width:100%;
    height: 100%;
    background:#b8b8b8;
    opacity: 0.3;
    position:absolute;
    padding: 0 0 0 0;
    
}
.pop {
    background: #ffffff;
    position: absolute;
    width: 70%;
    height: 1.5rem;
    border-radius: 0.04rem;
    left: 15%;
    top: 2rem;
}

.btn {
    font-size: 11px;
    color: #3da8f5;
}
.projectBox{
    position: fixed;
    opacity: 0.3;
    background: #b8b8b8;
    width:2rem;
    height:0.2rem;
    color:#000;
}
.projectname_box{
    display: flex;
}

.dropdown-item{
    font-size: 14px;
    font-family: "PingFang SC";
    /* font-weight: bold; */
    padding: 8px 13px;
    /* text-align: center; */
    color: #333444;
}

.dropdown-item:hover{
    background: #ececec;
}

.add-new-project-form{
    font-size: 13px;
    font-family: "PingFang SC";
    padding: 20px 40px;
    #title{
        font-size: 15px;
        text-align: center;
        margin-bottom: 17px;
        // font-weight: 400;
        color: #444444;
        letter-spacing: 0.1em;
    }
}
</style>
