<template>
  <div id="member" style="background:#f7f7f7; width: 100%;height: 100%;position: fixed">
    <div style="padding-top:1.235rem">
      <Bar></Bar>
      <SelectBar></SelectBar>
      <div
        style="height:0.65rem;position: absolute;width:100%;top:1.235rem;background: #ffffff;margin-bottom: 5px;"
      >
        <div class="mask" v-if="showModal" @click="showModal=false"></div>
        <div class="pop" v-if="showModal">
          <input
            ref="inputVal"
            class="searchInp"
            type="text"
            v-model="userEmail"
            placeholder="输入成员email添加成员"
            required
          />
          <button type="submit" class="confirmBtn" value="Submit" @click="add">确定</button>
          <button class="cancelBtn" @click="showModal=false">取消</button>
        </div>
        <img
          src="../assets/add_icon.png"
          style="position: absolute; top:0.26rem; left: 37%; width:0.153rem "
        />
        <div @click="showModal=true" class="btn">邀请新成员</div>
      </div>
      <div
        style="font-size:15px; width:100% ;position:absolute;top:2rem;height:100%;overflow-y:auto; "
      >
        <div v-for="(item,index) in MemResult.data.data" :key="index">
          <el-row class="el-mem-row">
            <el-col class="el-mem-col" :span="24">

              <div
                v-if="isOwner==false"
                class="grid-content bg-purple-dark"
                style="display:flex;padding-left:0.2rem;align-items:center"
              >
                <img :src="item.avatarUrl" style="width:0.6rem;height:0.6rem;border-radius:50%;" />
                <div style="padding-left:0.2rem;color:#333333;font-weight:bold;">{{item.userName}}</div>
                <div style="flex:1"></div>
                <div
                  style="padding-right:0.3rem;color:#949494;font-weight:bold;"
                  v-if="item.inCharge==true"
                >Owner</div>
              </div>

              <van-swipe-cell :before-close="beforeClose" >
                <div
                  v-if="isOwner==true"
                  class="OwnerView"
                >
                  <img :src="item.avatarUrl" style="width:0.6rem;height:0.6rem;border-radius:50%;" />
                  <div style="padding-left:0.2rem;color:#333333;font-weight:bold;">{{item.userName}}</div>
                  <div style="flex:1"></div>
                  <div
                    style="padding-right:0.3rem;color:#949494;font-weight:bold;"
                    v-if="item.inCharge==true"
                  >Owner</div>
                </div>

                <template slot="right">
                  <div style="flex:1"></div>
                  <div  @click="deleteMember(item.id)">删除</div>
                  <div style="flex:1"></div>
                </template>
              </van-swipe-cell>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bar from "@/src/components/Bar.vue";
import SelectBar from "@/src/components/SelectBar.vue";
import { Notification } from "element-ui";
import Vue from "vue";
import { SwipeCell } from "vant";
import { Dialog } from "vant";

Vue.use(SwipeCell);

export default {
  name: "Member",
  components: {
    Bar,
    SelectBar
  },
  data() {
    return {
      MemResult: false,
      userEmail: null,
      showModal: false,
      userProject: {
        inCharge: "false"
      },
      isOwner: ""
    };
  },
  mounted: async function() {
    let MemResult = false;
    let res = await this.api.yunbo_get(this.$route.params.id);

    this.MemResult = res;

    let userid = localStorage.getItem("userId");
    console.log("userid:", userid);

    for (var i = 0; i < res.data.data.length; i++) {
      if (res.data.data[i].id == userid) {
        if (res.data.data[i].inCharge == true) {
          this.isOwner = true;
        } else {
          this.isOwner = false;
        }
        break;
      }
    }
    console.log("isOwner", this.isOwner);
  },
  methods: {
    getMemData:async function(){
      console.log("hi from getmem");

      this.MemResult=await this.api.yunbo_get(this.$route.params.id);
      console.log("hi from getmem");
    },
    deleteMember(index){
      var THIS=this;

      let id=localStorage.getItem("userId");
      if(id==index){
        Dialog.alert({
          message:"项目负责人不可删除！",
        }).then(()=>{});
      }
      else{
        Dialog.confirm({
        title: "确认删除? ",
        message: "成员删除后，可以通过邮箱查找重新添加。",
        confirmButtonColor: "#3f51b5",
        overlayStyle: { "background-color": "rgba(0, 0, 0, 0.5)" },
        closeOnClickOverlay: true,
      })
        .then(() => {
          console.log("confirmdelete");
          THIS.api.DeleteUser(index,THIS.$route.params.id);
          console.log("THIS,",THIS);
          setTimeout(()=>{THIS.getMemData();},500);
        })
        .catch(() => {
          console.log("cancel");
        })

      }    
    },
    // position 为关闭时点击的位置
    // instance 为对应的 SwipeCell 实例
    beforeClose(position, instance ) {
      switch (position) {
        case "outside":
          instance.close();
          break;
        case "right":
          Dialog.confirm({
            message: "确定删除吗？"
          }).then(() => {
            instance.close();
          });
          break;
      }
    },
    async add() {
      console.log(this.userEmail);
      let resid = await this.api.yunbo_emailGetID(this.userEmail);
      console.log(resid.data.state);
      if (resid.data.state == "error") {
        Notification({
          title: "用户email不存在",
          type: "error"
        });
      } else if (resid.data.state == "success") {
        await this.api.yunbo_post(
          resid.data.data.id,
          this.$route.params.id,
          this.userProject
        );
        Notification({
          title: "加入成功",
          type: "success"
        });
        this.showModal=false;
        setTimeout(()=>{this.getMemData();},500);
      }
    }
  }
};
</script>

<style >
.van-swipe-cell__right {
  display: flex;
  flex-direction: column;
  width: 65px;
  height: 0.8rem;
  font-size: 15px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  background-color: #f44;
  vertical-align: middle;
  /* align-items: center; */
}
</style>

<style scoped>
.el-mem-row {
  margin-left: 0px;
  margin-bottom: 0.05rem;
}
.el-mem-col {
  border-radius: 0.04rem;
}
.bg-purple-dark {
  background: #ffffff;
  height: 0.83rem;
  line-height: 0.83rem;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b5b0b5;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b5b0b5;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b5b0b5;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b5b0b5;
}

.searchInp {
  position: absolute;
  left: 5%;
  top: 0.2rem;
  height: 0.5rem;
  width: 90%;
  font-size: 18px;
  background: #ffffff;
  border-radius: 0.04rem;
  border: 0.01rem solid #e8e9ee;
}
.confirmBtn {
  background-color: #59b3f3;
  color: #fff;
  position: absolute;
  border: 0;
  border-radius: 0.04rem;
  left: 25%;
  /* top: 0.6rem; */
  bottom: 0.2rem;
  height: 0.4rem;
  width: 0.5rem;
  font-size: 15px;
}
.cancelBtn {
  background-color: #ffffff;
  color: #858085;
  position: absolute;
  border: 0.5px solid #e8e9ee;
  border-radius: 0.04rem;
  right: 25%;
  /* top: 0.6rem; */
  bottom: 0.2rem;
  height: 0.4rem;
  width: 0.5rem;
  font-size: 15px;
}
.mask {
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pop {
  background-color: #fff;
  position: relative;
  top: 1rem;
  left: 10%;
  width: 80%;
  height: 1.5rem;
  z-index: 2;
  border-radius: 0.04rem;
}

.btn {
  position: absolute;
  width: 90%;
  /*height:5px;*/
  height: 0.75rem;
  left: 44.5%;
  top: 0.23rem;
  font-size: 15px;
  color: #3da8f5;
}
.OwnerView{
  background-color: #ffffff;
  display:flex;
  padding-left:0.2rem;
  align-items:center;
  height: 0.8rem;
}
</style>