<template>
  <div class="selectbar" style="width:100%;">
    <div class="barsss">
      <div class="tab" v-for="(item,index) in tabs" :key="index" :class="{'active':currentSort==index}" @click="routeTo(index)">
        <div>{{item}}</div>
      </div>
      <!-- <div class="tab" id="task" @click="routeTo('task')">任务</div>
      <div class="tab" id="fileList" @click="routeTo('fileList')">文件</div>
      <div class="tab" id="member" @click="routeTo('member')">成员</div> -->
    </div>
    <div
      class="tabsLine"
      style="margin:0;padding:0; width:100%;height:0.017rem;background-color:#dfdfdf;"
    ></div>
  </div>
</template>


<script>
export default {
  name: "SelectBar",
  methods: {
    routeTo: function(index) {
      // let div=document.getElementById(routerName);
      // div.style.fontWeight="bold";
      this.currentSort=index;
      console.log(this.$route.params.id);
      this.$router.push('/'+this.routers[index]+'/'+this.$route.params.id);
    }
  },
  data(){
    return{
      currentSort:'',
      routers:["Task","FileList","Member"],
      tabs:["任务","文件","成员"],
    }
  },
  mounted:async function(){
    this.currentSort=this.routers.indexOf(this.$route.name);
    console.log("currentSort",this.currentSort);
  }
};
</script>

<style scoped>
.selectbar {
  top: 0.61rem;
  position: fixed;

  background-color: #ffffff;
  font-size: 16px;
  height: 0.61rem;
}
.barsss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.6rem;
  flex-direction: row;
  width: 100vm;
  padding: 0 4% 0 4%;
}
.tab {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: normal;
  justify-content: center;
}
.active{
  font-weight: bolder;
  border-bottom: 0.03rem solid #3da8f5;
}

</style>