<template>
  <div style="padding-top:1.47rem;width:100%;height:100%;">
    <Bar></Bar>
    <SelectBar></SelectBar>
    <TaskState style="width:100%;height:90%;display:flex;position:fixed;top:1.235rem;"></TaskState>
  </div>
</template>

<script>
import Bar from "../components/Bar";
import SelectBar from "../components/SelectBar";
import TaskState from "../components/TaskState";
export default {
  name: "Task",
  components: {
    Bar,
    TaskState,
    SelectBar
  }
};
</script>

<style scoped>
/* .taskstate {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
} */
</style>