<template>
  <div style=" overflow-y:auto; width:100%; height:80%; padding-left:4.4%;padding-right:4.4%;">
    <div v-for="(item,index) in tasks" :key="index">
      <div
        class="task_card"
        :id="index"
        style="display:flex;flex-direction: column; margin-bottom:0.187rem;font-size:15px;"
      >
        <!-- class="task_card" -->
        <div
          style="display:flex;padding-left:7.4%;padding-right:10%;padding-top:0.173rem;align-items: center;"
        >
          <span
            style=" overflow: hidden; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        max-width:85%;
        "
          >{{item.title}}</span>
          <div style="flex:1"></div>
          <div class="card_dropdown" style="width:5%;height:100%;">
            <img src="../assets/task_btn.png" alt="···" style="width:100%;z-index:1;" />
            <div class="card_dropdown-content">
              <p style="margin-top:0.1rem;margin-bottom:0.1rem;" @click="deletetask(index)">删除任务</p>
              <div class="editCard" style="margin-bottom:0.1rem">
                <p style="margin:0" @click="gototask(index)">编辑任务</p>
              </div>
            </div>
          </div>
        </div>
        <div class="taskset" style="flex:1" @click="gototask(index)"></div>
        <!--这里的div点击会进入详情页面-->
        <div
          style="padding-left:8.3%;padding-right:8.3%;padding-bottom:0.12rem;display:inline-flex; "
        >
          <img src="../assets/mem.png" alt="·" style="width:0.2rem;" />
          <span
            style=" overflow: hidden; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        padding-left:0.01rem;
        "
          >
            <span
              style="margin-left:0.05rem;margin-right:0.05rem;"
              class="related_user_name"
              v-for="(mem,index) in item.relatedUser"
              :key="index"
            >{{mem}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Dialog } from "vant";
export default {
  name: "TaskCards",
  components: {},
  data() {
    return {
      activeindex: -1,
      popupVisible: false
    };
  },
  methods: {
    gototask(index) {
      console.log("set!");
      console.log(this.tasks[index].id);
      this.$router.push({
        path: "/taskset/" + this.tasks[index].id,
        query: { project_id: this.$route.params.id }
      });
      //↑通过路径传值
      // this.$router.push('/taskset/'+this.tasks[index].id);
      console.log(this.tasks[index].state);
    },

    deletetask(index) {
      // console.log("showcard:",this.tasks[index].showcard);
      // this.tasks[index].showcard=false;
      // document.getElementById(index).css('display','none') ;
      // $(this.).css('display','none');
      console.log("hi from deletetask");
      Dialog.confirm({
        title: "确认删除? ",
        message: "删除后，该任务无法恢复",
        confirmButtonColor: "#3f51b5",
        overlayStyle: { "background-color": "rgba(0, 0, 0, 0.5)" },
        closeOnClickOverlay: true,
      })
        .then(() => {
          console.log("confirm",this.$route.params.id, this.tasks[index].id);
          this.api.DeleteTask(this.$route.params.id, this.tasks[index].id);
          console.log("deletesuccess",this.tasks[index].id)
          
          // setTimeout(()=>{this.$emit.getData()},300);
          setTimeout(()=>{this.$router.go(0);},100);
          // this.$router.go(0);
        })
        .catch(() => {
          console.log("cancel");
        });     
    }
  },
  created: {},
  props: {
    tasks: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
.van-dialog {
  border-radius: 0.04rem;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
</style>

<style scoped>
.task_card {
  border: 0.03rem;
  background: #ffffff;
  border-radius: 0.06rem;
  height: 1.1rem;
  width: 100%;
  box-shadow: 0px 0.02rem 0.07rem #f1f1f1;
  display: block;
}
.state_title {
  font-size: 14px;
}
.state_bar {
  justify-content: center;
  align-items: center;
  /* margin-left: 0.02rem; */
  width: 80%;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 99;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-size: 0.16rem;
  left: -1.08rem;
  background-color: #ffffff;
  /* #f9f9f9; */
  min-width: 0.84rem;
  box-shadow: 0rem 0.08rem 0.16rem 0rem rgba(0, 0, 0, 0.2);
  padding: 0rem 0.12rem;
  border-radius: 0.04rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.card_dropdown {
  position: relative;
  display: inline-block;
  z-index: 9;
}
.card_dropdown-content {
  display: none;
  position: absolute;
  font-size: 14px;
  left: -0.83rem;
  top: 0.15rem;
  background-color: #ffffff;
  /* #f9f9f9; */
  min-width: 0.84rem;
  box-shadow: 0rem 0.08rem 0.16rem 0rem rgba(0, 0, 0, 0.2);
  padding: 0rem 0.12rem;
  border-radius: 0.04rem;
}
.card_dropdown:hover .card_dropdown-content {
  display: block;
}
.related_user_name {
  text-overflow: ellipsis;
}
.editCard {
  /* position: relative; */
  display: inline-block;
}
</style>
