<template>
  <div>
    <div class="bar">
      <div class="navbar" style="height:0.6rem;">
        <img id="return-btn" src="../assets/return_btn.png" alt="<" @click="goback" />
        <span
          style=" overflow: hidden; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        width:70%;
        text-align:center"
        >{{title}}</span>
      </div>
      <div
        class="navbarLine"
        style="margin:0;padding:0; width:100%;height:0.017rem;background-color:#dfdfdf;"
      ></div>
    </div>
    <div class="task">
      <div class="state">
        <img src="../assets/task_state.png" alt="▦" class="state_pic" />
        <div style="color: #8c8c8c;">任务组</div>
        <div class="state_descpt">{{statename}}</div>
      </div>

      <div class="task_title">
        <img src="../assets/task_title.png" alt="⚀" class="state_pic" />
        <div style="color: #8c8c8c;">任务标题</div>
        <!-- <div class="state_task_title">{{title}}</div> -->
        <nut-textinput
          class="state_task_title"
          v-model="title"
          placeholder="请输入任务标题"
          :disabled="false"
          @blur="sendTitle"
        />
      </div>

      <div class="starttime">
        <img src="../assets/task_startdate.png" alt="⚐" class="startdate" />
        <div style="color: #8c8c8c;">开始时间</div>
        <datetime type="datetime" v-model="pickTimeStart" class="startinput" placeholder="点击设置开始时间"></datetime>
      </div>
      <div class="endtime">
        <img src="../assets/task_enddate.png" alt="⚐" class="enddate" />
        <div style="color: #8c8c8c;">结束时间</div>
        <datetime type="datetime" v-model="pickTimeEnd" class="endinput" placeholder="点击设置结束时间"></datetime>
      </div>

      <div class="description">
        <img src="../assets/task_content.png" alt class="task_content" />
        <div style="color: #8c8c8c;">任务内容</div>
        <div class="descptOK" @click="sendDescpt">点击此处提交修改</div>
      </div>
      <div>
        <textarea
          v-model="description"
          placeholder="请输入任务内容"
          name
          id
          resize:none
          cols="30"
          rows="12"
          class="content_input"
        ></textarea>
      </div>

      <div class="owner">
        <img src="../assets/task_people.png" alt="☻" class="task_people" />
        <div style="color: #8c8c8c;">参与者</div>

        <div class="ctn_owner_name" placeholder="点击此处添加参与者" @click="showPopup">
          <div class="owner_name" v-for="(item,index) in relatedUser" :key="index">{{item}}</div>
        </div>
        <van-popup
          overlay-style="background-color: rgba(0,0,0,.5);"
          @close="sendPostUser"
          close-icon="cross"
          close-icon-position="bottom-right"
          close-on-click-overlay="true"
          v-model="show"
        >
          <!-- closeable -->
          <div class="choose_title">选择参与者</div>
          <van-checkbox-group v-model="relatedUser" class="space_user">
            <van-checkbox
              class="single_user"
              shape="square"
              checked-color="#3f51b1"
              v-for="(item,index) in memList"
              :key="index"
              :name="item"
            >{{item}}</van-checkbox>
          </van-checkbox-group>
          <!-- <div class="choose_ok" @click="sendPostUser">Ok</div> -->
        </van-popup>
      </div>
    </div>
  </div>
</template>

<script >
import { DateTime } from "luxon";
import { constants } from "fs";
import { async } from "q";
export default {
  name: "Taskset",
  components: {},
  data() {
    return {
      show: false,
      title: "",
      description: "",
      relatedUser: [],
      timeStart: "",
      timeEnd: "",
      statename: "",
      pickTimeStart: "",
      pickTimeEnd: "",
      memList: [],
      group: ["张三", "王五"],
      isTitleChange: false,
      isDescriptionChange: false
    };
  },

  mounted: async function() {
    console.log("hi from stateset");
    // this.statename = this.$route.query.statename;
    console.log(this.$route.query.statename);
    // 获取项目的所有用户
    let allmem = await this.api.GetProjectMember(this.$route.query.project_id);
    let temp = allmem.data.data;
    let allmem_name = [];
    for (var i = 0; i < temp.length; i++) {
      allmem_name.push(temp[i].userName);
    }
    console.log("allmem_name:");
    console.log(allmem_name);
    this.memList = allmem_name;
    console.log("memlist:");
    console.log(this.memList);

    //获取任务具体信息
    console.log("获取任务具体信息");
    let msg = await this.api.GetSetTasks(this.$route.params.id);
    console.log(msg.data.data);
    this.title = msg.data.data.title;
    this.description = msg.data.data.description;
    this.relatedUser = msg.data.data.relatedUser;
    this.statename = msg.data.data.state;
    // let rrr = Array.from(msg.data.data.relatedUser);
    console.log("hi");

    console.log("relaU:");
    console.log(this.relatedUser);
    console.log("group:");
    console.log(this.group);

    //时间戳或ISO转化为RFC
    this.pickTimeStart = this.String2ISO(msg.data.data.timeStart);
    this.pickTimeEnd = this.String2ISO(msg.data.data.timeEnd);
    console.log("TimeStart");
    console.log(this.pickTimeStart);
    console.log("TimeEnd");
    console.log(this.pickTimeEnd);
    // setTimeout(this.relatedUser = msg.data.data.relatedUser,"20000000");

  },

  watch: {
    pickTimeStart(value) {
      console.log("hi from timestart");
      console.log(value);
      let re = this.ISO2String(value);
      console.log("re");
      console.log(re);
      this.api.PostTaskTimeStart(this.$route.params.id, re);
    },
    pickTimeEnd(value) {
      this.api.PostTaskTimeEnd(this.$route.params.id, this.ISO2String(value));
    },
    title() {
      this.isTitleChange = true;
    },
    description() {
      this.isDescriptionChange = true;
    },
    relatedUser(value) {
      console.log(
        "change",
        value,
        this.relatedUser,
        new Date().toLocaleString()
      );
      // this.api.PostTaskUser(this.$route.params.id, this.relatedUser);
    }
  },

  methods: {
    ISO2String: value => {
      //ISO转为RFC
      // let result = DateTime.fromISO(value)
      //   .toString(DateTime.DATETIME_SHORT_WITH_SECONDS)
      //   .replace("T", " ")
      //   .replace(/\..+/, "");
      // console.log("result(RFC)");
      // console.log(result);
      //ISO to TimeStamp
      let result = Date.parse(value);
      console.log("TimeStamp");
      console.log(result);
      return result;
    },
    String2ISO: value => {
      //TimeStamp to ISO
      console.log("hi from String2ISO");
      console.log(value);
      let timeStart = new Date(value);

      console.log("to Date");
      console.log();

      let result = timeStart.toISOString();
      console.log(result);
      return result;
    },
    goback() {
      this.$router.go(-1);
    },
    showPopup() {
      this.show = true;
    },
    sendPostUser() {
      console.log("wobianla", this.relatedUser, new Date().toLocaleString());
      console.log(this.relatedUser);
      console.log(this.$route.params.id);
      this.api.PostTaskUser(this.$route.params.id, this.relatedUser);
    },
    sendTitle() {
      console.log("blur触发title");
      console.log(this.title);
      if (this.isTitleChange == true) {
        this.isTitleChange = false;
        this.api.PostTaskTitle(this.$route.params.id, this.title);
        console.log("title改变");
        console.log(this.$route.params.id);
      } else {
        console.log("title没有改变");
      }
    },
    sendDescpt() {
      console.log(this.description);
      if (this.isDescriptionChange == true) {
        this.isDescriptionChange = false;
        this.api.PostTaskDescription(this.$route.params.id, this.description);
        console.log("Description改变");
        console.log(this.$route.params.id);
      } else {
        console.log("Description没有改变");
      }
    }
  }
};
</script>

<style scoped>
.bar {
  background-color: #ffffff;
  font-size: 16px;
  color: #333333;
  position: fixed;
  z-index: 9;
  width: 100vw;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  font-weight: bold;
}

#return-btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0.29rem, 0.25rem);
  width: 0.1rem;
  height: 0.167rem;
}

.task {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 0.9rem;
  padding-bottom: 0.1rem;
  font-size: 16px;
  position: relative;
}

.state {
  display: flex;
  flex-direction: row;
  position: relative;
}

.state_pic {
  width: 7%;
  margin-right: 2%;
  /* position: absolute; */
}
.state_descpt {
  font-size: 16px;
  position: absolute;
  left: 40%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: bold;
}

/*******************************任务标题 *******************************/
.task_title {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.state_task_title {
  font-size: 16px;
  position: absolute;
  left: 40%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: bold;
}
.state_task_title >>> input {
  font-size: 16px;
  font-weight: bold;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  padding-bottom: 0.05rem;
  padding-left: 0.06rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 50%;
}
.state_task_title >>> input::placeholder {
  font-weight: normal;
  color: #8c8c8c;
}

/*******************************成员*******************************/
.owner {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: row;
}
.task_people {
  width: 6%;
  margin-right: 3%;
}
.ctn_owner_name {
  position: absolute;
  width: 55%;
  left: 40%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* text-overflow: auto;
  -o-text-overflow: auto; */
  white-space: nowrap;
  padding-bottom: 0.05rem;
  /* -webkit-animation: goup 5s linear infinite;
  -moz-animation: goup 5s linear infinite; */
}
.owner_name {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.ctn_owner_name:empty::before {
  content: attr(placeholder);
  color: #8c8c8c;
}
.ctn_owner_name:focus::before {
  content: none;
}
.owner >>> .van-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.owner >>> .van-popup--center {
  width: 3.4rem;
  height: 4rem;
}
.owner >>> .van-popup__close-icon--bottom-right {
  color: #3f51b5;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: right;
  height: 0.5rem;
  padding-bottom: 0.2rem;
  padding-right: 0.37rem;
  padding-top: 0.05rem;
}
.space_user {
}
.choose_title {
  padding: 14px 26px;
  background: #3f51b5;
  color: #fff;
  font-size: 28px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
  margin-bottom: 0.3rem;
}
.choose_ok {
  color: #3f51b5;
  font-size: 13px;
  font-weight: bold;
  position: sticky;
  z-index: 4;
  bottom: 0;
  background-color: #ffffff;
  height: 0.5rem;
  width: 100%;
  text-align: right;
  display: block;
  padding-top: 0.05rem;
  padding-bottom: 0.2rem;
  padding-right: 0.37rem;
}
.single_user {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
}

/******************************日期******************************/
.startdate {
  width: 7%;
  margin-right: 2%;
}
.enddate {
  width: 7%;
  margin-right: 2%;
}
.starttime {
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.startinput {
  position: absolute;
  left: 40%;
  top: 0;
  font-size: 16px;
}
.startinput >>> input {
  font-size: 15px;
  font-weight: bold;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  padding-bottom: 0.05rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 0.01rem;
  border-bottom-color: #dfdfdf;
  width: 2rem;
  /* text-align: center; */
}
.startinput >>> input::placeholder {
  color: #8c8c8c;
  font-weight: normal;
}
.endtime {
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.endinput {
  position: absolute;
  left: 40%;
  top: 0;
  font-size: 16px;
}
.endinput >>> input {
  font-size: 15px;
  font-weight: bold;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  padding-bottom: 0.05rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 0.01rem;
  border-bottom-color: #dfdfdf;
  width: 2rem;
  /* text-align: center; */
}
.endinput >>> input::placeholder {
  color: #8c8c8c;
  font-weight: normal;
}

/******************************描述 ******************************/
.description {
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.task_content {
  width: 7%;
  margin-right: 2%;
}
.content_input {
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;

  /*****textarea*****/
  font-weight: bold;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  color: #333333;
  border-radius: 0.04rem;
  width: 100%;
  padding-left: 3%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 3%;
  outline-color: #3f51b5;
}
.content_input::placeholder {
  color: #8c8c8c;
  font-weight: normal;
}
.descptOK {
  position: absolute;
  left: 40%;
  top: 0;
  color: #8c8c8c;
}
</style>