<template>
  <div class="slider-container" style="width:100%;height:100%;margin:0;background:#f7f7f7">
    <slider
      class="slider"
      title="state"
      style=";"
      :options="options"
      @slide="slide"
      @tap="onTap"
      @init="onInit"
    >
      <slideritem class="state" v-for="(item,index) in someList" :key="index">
        <div style="width:100%;height:100%;text-align:left;">
          <div class="state_bar" style="  margin-left:0.28rem;display:flex;height:0.553rem;">
            <span
              class="state_title"
              style=" overflow: hidden; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        white-space:nowrap;"
            >{{item.name}}</span>
            <div style="flex:1"></div>
            <div class="dropdown" @click="handleClick">
              <img style="width:0.04rem" src="../assets/menu_icon.png" alt="···" />
              <div class="dropdown-content">
                <p style="margin-top:0.1rem;margin-bottom:0.1rem" @click="EditState(index)">编辑任务组</p>
                <p style="margin-top:0.1rem;margin-bottom:0.1rem" @click="AddState(index) ">添加任务组</p>
                <p style="margin-top:0.1rem;margin-bottom:0.1rem" @click="DeleteState(index)">删除任务组</p>
                <p style="margin-top:0.1rem;margin-bottom:0.1rem" @click="AddTask(index)">添加任务</p>
              </div>
            </div>
          </div>
          <TaskCards v-bind:tasks="item.tasks"></TaskCards>
        </div>
      </slideritem>
      <div slot="loading" style="padding-left:30vw;font-size:40px;color:#8c8c8c">loading...</div>
    </slider>
  </div>
</template>

<script>
import TaskCards from "../components/TaskCards";
import { slider, slideritem } from "vue-concise-slider";
import { Dialog } from "vant";
import { MessageBox } from "mint-ui";
import { async } from 'q';

export default {
  name: "TaskState",
  components: {
    slider,
    slideritem,
    TaskCards
  },
  mounted: async function() {
    console.log("ffffffffffffffffffffff");
    let return_tasks = await this.api.GetTasks(this.$route.params.id);
    let project_info = await this.api.GetProjectInformation(
      this.$route.params.id
    );
    let states = project_info.data.data.states;
    this.stateArry = states;

    console.log("project_info", project_info);
    console.log("states:", this.stateArry);
    let tasks = return_tasks.data.data;
    let sort_tasks = [];

    for (let i = 0; i < states.length; i++) {
      sort_tasks.push({
        name: states[i],
        tasks: []
      });
    }
    console.log("sort_tasks1", sort_tasks);

    console.log("tasks:");
    console.log(tasks);

    console.log(tasks);
    for (let i = 0; i < tasks.length; i++) {
      // tasks[i].showcard=true;
      for (let j = 0; j < sort_tasks.length; j++) {
        if (tasks[i].state == sort_tasks[j].name) {
          sort_tasks[j].tasks.push(tasks[i]);
          break;
        }
      }
    }

    console.log("lalal");
    console.log(sort_tasks);

    this.someList = sort_tasks;
  },

  data() {
    return {
      someList: [],
      stateArry: [],
      showAdd: false,
      options: {
        // loop: true,
        currentPage: 0,
        tracking: false,
        thresholdDistance: 50,
        thresholdTime: 700,
        infinite: 4,
        slidesToScroll: 1,
        pagination: false,
        direction: "horizontal"
      }
    };
  },

  methods: {
    getData:async function(){
    let return_tasks = await this.api.GetTasks(this.$route.params.id);
    let project_info = await this.api.GetProjectInformation(
      this.$route.params.id
    );
    let states = project_info.data.data.states;
    this.stateArry = states;
    let tasks = return_tasks.data.data;
    let sort_tasks = [];

    for (let i = 0; i < states.length; i++) {
      sort_tasks.push({
        name: states[i],
        tasks: []
      });
    }
    for (let i = 0; i < tasks.length; i++) {
      // tasks[i].showcard=true;
      for (let j = 0; j < sort_tasks.length; j++) {
        if (tasks[i].state == sort_tasks[j].name) {
          sort_tasks[j].tasks.push(tasks[i]);
          break;
        }
      }
    }
    this.someList = sort_tasks;
    },
    AddTask(index) {
      let THIS=this;
      Dialog.confirm({
        title: "确认添加任务? ",
        message: "新建默认任务",
        confirmButtonColor: "#3f51b5",
        overlayClass: "AddStateOverlay",
        overlayStyle: { "background-color": "rgba(0, 0, 0, 0.5)" },
        closeOnClickOverlay: true
      })
        .then(() => {
          console.log(
            "confirm",
            this.$route.params.id,
            this.someList[index].name
          );
          THIS.api.AddTask(THIS.$route.params.id,THIS.someList[index].name);
          // setTimeout(()=>{THIS.getData();},500);
          setTimeout(()=>{this.$router.go(0);},100);
        })
        .catch(() => {
          console.log("cancel");
        });
    },
    DeleteState(index) {
      Dialog.confirm({
        title: "确认删除当前任务组? ",
        message: "当前任务组下的任务也将删除！",
        confirmButtonColor: "#3f51b5",
        overlayClass: "DeleteStateOverlay",
        overlayStyle: { "background-color": "rgba(0, 0, 0, 0.5)" },
        closeOnClickOverlay: true
      })
        .then(() => {
          console.log("confirm", this.$route.params.id);

          let temp_tasks = this.someList[index].tasks;
          // console.log("temp_tasks", temp_tasks);
          for (let i = 0; i < temp_tasks.length; i++) {
            console.log("temp_tasks[i].id", temp_tasks[i].id);
            this.api.DeleteTask(this.$route.params.id, temp_tasks[i].id);
          }

          this.stateArry.splice(index, 1);
          console.log("deleteState", this.stateArry);
          this.api.ChangeState(this.$route.params.id, this.stateArry);
          this.$router.go(0);
          // setTimeout(()=>{this.getData();},200);
        })
        .catch(() => {
          console.log("cancel");
        });
    },
    AddState(index) {
      console.log("hi from prompt");
      MessageBox.prompt("新建任务组名称", {
        inputValidator: val => {
          if (val === null) {
            return true; //初始化的值为null，不做处理的话，刚打开MessageBox就会校验出错，影响用户体验
          }
          return !(val.length > 15);
        },
        inputErrorMessage: "名称控制在15字以内！"
      }).then(
        val => {
          // console.info("confirm,value is" + val.value);
          // console.log(val.value);
          this.stateArry.push(val.value);
          console.log(this.stateArry);
          this.api.ChangeState(this.$route.params.id, this.stateArry);
          setTimeout(()=>{this.$router.go(0);},200);
          // setTimeout(()=>{this.getData();},200);
        },
        () => {
          // console.info("cancel");
        }
      );
    },
    EditState(index){
      console.log("hi from edit")
      MessageBox.prompt("请输入修改后的任务组名称", {
        inputValidator: val => {
          if (val === null) {
            return true; //初始化的值为null，不做处理的话，刚打开MessageBox就会校验出错，影响用户体验
          }
          return !(val.length > 15);
        },
        inputErrorMessage: "名称控制在15字以内！"
      }).then(
        val => {
          // console.info("confirm,value is" + val.value);
          // console.log(val.value);
          let temp_tasks = this.someList[index].tasks;
          console.log("temp_tasks", temp_tasks);
          for (let i = 0; i < temp_tasks.length; i++) {
            console.log("temp_tasks[i].id", temp_tasks[i].id);
            this.api.PostTaskState(temp_tasks[i].id,val.value);
          }

          this.stateArry.splice(index, 1,val.value);
          console.log(this.stateArry);
          this.api.ChangeState(this.$route.params.id, this.stateArry);
          // setTimeout(()=>{this.getData();},200);
          // this.$router.go(0);
          setTimeout(()=>{this.$router.go(0);200});
        },
        () => {
          // console.info("cancel");
        }
      );
    }
  }
};
</script>


<style>
.van-dialog {
  border-radius: 0.04rem;
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.mint-msgbox{
  font-family: "PingFang SC", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.mint-msgbox-confirm {
  color: #3f51b5;
}
.mint-msgbox-message{
  color: #333333;
}
</style>

<style scoped>
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block {
  width: 120px;
  height: 120px;
  background-color: #fff;
}
.slider-container {
  background: #f7f7f7;
}
.state {
  background: #f7f7f7;
  width: 50%;
  color: #8c8c8c;
  font-size: 16px;
}
.slider {
  background: #f7f7f7;
}
.state_title {
  font-size: 16px;
}
.state_bar {
  justify-content: center;
  align-items: center;
  /* margin-left: 0.02rem; */
  width: 80%;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.slider-container >>> .nut-dialog {
  border-radius: 0.04rem;
}
.slider-container >>> .nut-dialog-btn {
  background-color: #ffffff;
}
.slider-container >>> .nut-dialog-ok {
  color: #3f51b5;
  background: #ffffff;
}

/* .dropdown-item{
    font-size: 18px;
    font-family: "PingFang SC";
    /* font-weight: bold; */
/* padding: 8px 13px;
    /* text-align: center; */
/* color: #333444;
}

.dropdown-item:hover{
    background: #ececec;
} */

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 16px;
  left: -1.08rem;
  background-color: #ffffff;
  /* #f9f9f9; */
  min-width: 0.84rem;
  box-shadow: 0rem 0.08rem 0.16rem 0rem rgba(0, 0, 0, 0.2);
  padding: 0rem 0.12rem;
  border-radius: 0.04rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
</style>
