<template>
  <div class="AllProject" style="margin-bottom: 0.33rem;">
    <div
      ref="projectHeader"
      class="Project_initial"
      style="line-height: 0.37rem;text-align: center;"
      v-html="firstProjectName"
      @click="goto"
    ></div>
    <div class="white"></div>
    <div class="Project_information">
      <div class="Project_information_1">
        <div class="Project_name" @click="goto">{{project.projectName}}</div>
        <div style="flex:1;"></div>

        <el-dropdown ref="menu">
          <span class="el-dropdown-link" trigger="hover">
            <div style="height: 100%;">
              <div class="Project_btn" :style="menu_icon"></div>
            </div>
          </span>
          <el-dropdown-menu slot="dropdown" style="transform:translateX(-10px);">
            <div class="dropdown-item" style="margin-bottom:2px;" @click="addQrCode()">
              <font-awesome-icon :icon="['fas','plus-circle']" /> 生成二维码
            </div>
            <div class="dropdown-item" style="margin-bottom:2px;" @click="deleteProject()">
              <i class="icon-font-v1 icon-font-jianshao"></i> 退出项目
            </div>
          </el-dropdown-menu>
        </el-dropdown>

      </div>
      <div style="flex:1;"></div>
      <div class="Project_information_1">
        <div style="flex:1;"></div>
        <div class="Project_member">
          <img class="person_icon" src="@/src/assets/person_icon.png" />
          <div class="white_2"></div>
          <div class="Project_creater" v-html="member_num"></div>
        </div>
        <div class="white_1"></div>
        <div class="Project_time">
          <img class="person_icon" src="@/src/assets/time_icon.png" />
          <div class="white_2"></div>
          <div class="Project_creater">{{project.lastModifiedTime}}</div>
        </div>
      </div>
    </div>
    <van-dialog
        v-model="isShowQrCode"
        >
        <div class="img-QrCode">
            <img :src="QrCodeUrl" class="QrCode">
        </div>
    </van-dialog>
  </div>
</template>

<script>
import { Notification } from 'element-ui';

export default {
  name: "AllProject",
  props: {
    project: {
      id: "",
      lastModifiedTime: "",
      projectName: "",
      states: ""
    }
  },
  components: {},
  mounted: async function() {
    let color = this.colors[Math.floor(Math.random() * this.colors.length)];
    this.$refs.projectHeader.style.background = color;
    let hh = await this.api.GetProjectMember(this.project.id);
    this.project_member = hh.data.data;
    this.member_num = hh.data.data.length;
    console.log(hh);
    let information = await this.api.GetProjectInformation(this.project.id);
    this.project_information = information.data.data;
    this.firstProjectName = this.project_information.projectName[0];
    console.log(information);
    this.userid = localStorage.getItem("userId");
  },
  data() {
    return {
      isShowQrCode: false,
      colors: [
        "#97de00",
        "#ac7dc2",
        "#fcd967",
        "#67b9fc",
        "#7fc0a7",
        "#f7b39f",
        "#EAC256",
        "#B0A5F5",
        "#EA6B56",
      ],
      menu_icon: {
        backgroundImage: "url(" + require("@/src/assets/menu_icon.png") + ")",
        backgroundRepeat: "no-repeat",
        backgroundSize: "100% 100%"
      },
      project_member: [],
      member_num: "",
      create_time: "",
      project_information: [],
      firstProjectName: "",
      userid:"",
      QrCodeUrl:"http://qr.liantu.com/api.php?&w=200&text="+this.project.id,
    };
  },
  methods: {
    goto() {
      this.$router.replace("/task/" + this.project.id);
    },
    addQrCode(){
      console.log("addQrCode");
      console.log(this.project.id);
      this.$refs.menu.hide();
      this.isShowQrCode=true;
      console.log(this.QrCodeUrl);
    },
    deleteProject: async function(){
      this.$refs.menu.hide();
      let res = await this.api.deleteProject(this.userid,this.project.id);
      console.log(res);
      if(res.data.data=="Can't remove owner from project!")
      {
        Notification({
                        title:"Can't remove owner from project!",
                        type:"error"
                    })
      }
      else{
        this.$emit('fatherMethod');
    }
  },
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.AllProject {
  display: flex;
  width: 100%;
}

.Project_initial {
  background: #f080c1;
  width: 0.63rem;
  height: 0.63rem;
  border-radius: 0.02rem;
  padding: 0.13rem 0% 0.13rem 0%;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0.2px;
}
.white {
  background: #ffffff;
  width: 0.13rem;
}

.Project_information {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Project_information_1 {
  display: flex;
  flex: 1;
}
.Project_name {
  font-size: 16px;
  font-weight: bold;
  color: #525252;
  letter-spacing: 0.1px;
}
.Project_btn {
  font-size: 8px;
  height: 0.19rem;
  width: 0.05rem;
}
.Project_creater {
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.06px;
}
.Project_member {
  display: flex;
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.06px;
  align-items: center;
}
.person_icon {
  display: flex;
  width: 0.093rem;
  height: 0.093rem;
  align-items: center;
  margin-right: 4px;
}
.Project_time {
  display: flex;
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.06px;
  align-items: center;
}
.white_1 {
  background: #ffffff;
  width: 0.1rem;
}
.white_2 {
  background: #ffffff;
  width: 0.04rem;
}
.dropdown-item {
  font-size: 14px;
  font-family: "PingFang SC";
  /* font-weight: bold; */
  padding: 8px 13px;
  /* text-align: center; */
  color: #333444;
}
.img-QrCode{
    font-size: 13px;
    font-family: "PingFang SC";
    padding: 20px 40px;
} 
.QrCode{
  padding: 22px 20px;
}
</style>
