        <template>
  <div class="RecentUsedProject" ref="projectHeader" @click="goto">{{project.projectName}}</div>
</template>

        <script>
export default {
  name: "RecentUsedProject",
  data() {
    return {
      colors: [
          ['#a5b6f5','#56ea76'],
          ['#E5A5F5','#EAC256'],
          ['#B0A5F5','#EA6B56'],
      ]
    };
  },
  props: {
    project: {
      id: "",
      lastModifiedTime: "",
      projectName: "",
      states: ""
    }
  },
  components: {},
  methods: {
    goto() {
      this.$router.replace("/task/" + this.project.id);
    }
  },
  mounted() {
      //set color
        let color = this.colors[Math.floor(Math.random()*this.colors.length)]
        this.$refs.projectHeader.style.background="linear-gradient(to bottom right, "+color[0]+", "+color[1]+")";
  },
};
</script>

        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.RecentUsedProject {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 0.05rem;
  background: linear-gradient(to bottom right, #f5b5a5, #9a75a1);
  padding: 0.11rem 0.11rem 0.11rem 0.11rem;
  color: #ffffff;
  font-size: 15px;
}
</style>

