<template>
  <div id="app">
      
    <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
    <!-- <transition> -->
    <router-view></router-view>
    <!-- </transition> -->
    <Bar v-if="tabbarShow"></Bar>
    <SelectBar v-if="tabbarShow"></SelectBar>

  </div>
</template>

<script>
import Bar from "@/src/components/Bar"
import SelectBar from "@/src/components/SelectBar"
export default {
  name: "app",
  components: {
    Bar,
    SelectBar
  },
  mounted: function(){

  },
  watch:{
     '$route'(to,from){
       console.log("hi from app.vue");
        console.log("routeto",to);
      //判断是否显示tabbar
      if(to.name== 'Task' || to.name == 'FileList' || to.name== 'Member'){
        console.log("routeto_succeed",to.path);
        this.$store.commit('updateTabbarShow',true);
      }else{
        this.$store.commit('updateTabbarShow',false);
      }
    }
  },
  computed: {
    tabbarShow(){
      return this.$store.getters.getTabbarShow
    }
  },
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
</style>
